.Login{
    padding:30px;
    background: linear-gradient(145deg, #0d0d0d, #1a1a1a, #2b2b2b);
    color: #b0b0b0; /* Light text color */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height:auto;
}
.logo{
    margin:0 auto;
    color:gold;
    font-size:3rem;
    font-weight:600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
}
.heading{
    margin:0px auto;
    margin-bottom:10px;
    font-size:2rem;
    font-weight:600;
}
.SigninForm{
    display:flex;
    flex-direction: column;
    margin-top:40px;
    
}
.SigninForm label{
    display:block;
    color:rgb(255,255,255,0.85);
    margin-bottom:5px;
    font-size:0.95rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left:3px;
    
}
.SigninForm input{
    padding:0.75rem 1rem;
    font-size:1rem;
    display:block;
    width:93%;
    background: rgba(255,255,255, 0.05);
    border:none;
    color:#fff;
    outline:none;
    border-radius:7px;
    transition:all 0.3s ease-out

}
.SigninForm input:focus{
    background: rgba(255,255,255, 0.05);
    box-shadow: 0 0 0 1px #FFD700;
}
.redInput{
    box-shadow: 0 0 0 2px #e74c3c;
}
.SigninForm button{
    padding:0.75rem;
    font-size:1.1rem;
    border-radius:15px;
    color:#000;
    background-color: #FFD700;
    cursor:pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-out;
    margin-top:20px;
}
.SigninForm button:hover{
    background-color: #d4ac0d;
}
.email, .password{
    margin-bottom:1.2rem;
}
.OtherOption{
    margin:0 auto;
    margin-top:10px;
    color:rgba(255,255,255,0.85);
    font-size:0.9rem;
}
.OtherOption a{
    color:#FFD700;
    text-decoration: none;
}
.OtherOption a:hover{
    text-decoration: underline;
}

.OtherRole{
    font-size: 0.9rem;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:137px;
    color:rgba(255,255,255,0.85)
}

.OtherRole span{
    color:#FFD700;
    text-decoration: none;
    cursor: pointer;
}
.OtherRole span:hover{
    text-decoration: underline;
}
